@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home</h1>
    <p>
        Aplicativo de encomenda de sapatos e tenis.
    </p>
    <a href="/Cep" class="btn btn-dark" >Veja o Cep</a>
</div>
